---
const Icon = Astro.props.iconComponent;
---

<div>
    <input type="checkbox" class="btn-check theme-toggle" id="themeToggle" autocomplete="off">
    <label class="btn btn-link" for="themeToggle">
        <span class="visually-hidden">Theme Selector Toggle</span>
        <Icon class="w-20-px theme-light" name="bi:moon-stars" />
        <Icon class="w-20-px theme-dark" name="bi:cloud-sun" />
    </label>
</div>
