@each $color, $value in $theme-colors {
    .text-bg-#{$color} {
        color: var(--#{$prefix}#{$color}-contrast) !important;
        background-color: var(--#{$prefix}#{$color}) !important;
    }
}

@each $color, $value in $colors {
    .text-bg-#{$color} {
        color: var(--#{$prefix}#{$color}-contrast) !important;
        background-color: var(--#{$prefix}#{$color}) !important;
    }
}

@each $color, $value in $base-colors {
    .text-bg-#{$color} {
        color: var(--#{$custom-prefix}#{$color}-contrast) !important;
        background-color: var(--#{$custom-prefix}#{$color}) !important;
    }
}