[data-bs-theme="light"] {
    .theme-light {
        display: block;
    }

    .theme-dark {
        display: none;
    }
}

[data-bs-theme="dark"] {
    .theme-light {
        display: none;
    }

    .theme-dark {
        display: block;
    }
}
