// scss-docs-start colors-dark-map
$colors-dark: (
  "blue":       $blue-dark,
  "indigo":     $indigo-dark,
  "purple":     $purple-dark,
  "pink":       $pink-dark,
  "red":        $red-dark,
  "orange":     $orange-dark,
  "yellow":     $yellow-dark,
  "green":      $green-dark,
  "teal":       $teal-dark,
  "cyan":       $cyan-dark,
  "black":      $black,
  "white":      $white,
  "gray":       $gray-500,
  "gray-dark":  $dark
);
// scss-docs-end colors-dark-map

// scss-docs-start theme-colors-dark-map
$theme-colors-dark: (
  "primary":    $primary-dark,
  "secondary":  $secondary-dark,
  "success":    $success-dark,
  "info":       $info-dark,
  "warning":    $warning-dark,
  "danger":     $danger-dark,
  "light":      $light,
  "dark":       $dark
);
// scss-docs-end theme-colors-dark-map

$base-colors: (
  "base00":     $gray-200, // elevation 1
  "base01":     $gray-300, // elevation 2
  "base02":     $gray-500, // muted
  "base03":     $gray-300, // hr, borders
);

$base-colors-dark: (
  "base00":     $gray-700,
  "base01":     $gray-600,
  "base02":     $gray-300,
  "base03":     $gray-500,
);